<!DOCTYPE html>
<html>
<head>
{{template "common_resources"}}
<title>ОЛС - Обеспечение лекарственными средствами</title>

</head>
<body>
{{template "common_header"}}
<div class="wrap">
<div class="container">
<input type="text" id="search_string" placeholder="ФИО/номер дела" size="100">
<div id="test"></div>
</div>
<div class="container">
<table class="datatable" width="50%"> 
<thead>
<tr>
<td class="datacell" width="25%">Номер дела/СНИЛС</td>
<td class="datacell" width="75%">ФИО</td>
</tr></thead>
<tbody id="search_result"></tbody>
</table>
</div>
</div>
<script>
var last_search_string = "";
$('#search_string').change(function(event) {
	if ($('#search_string').val() == "") {return;}
	if ($('#search_string').val() != last_search_string) {
		$('#test').text("");
		last_search_string = $('#search_string').val();
		//console.log($('#search_string').val());
		//$('#test').text( $('#search_string').val() );
		//ajax
		$.ajax({
			url: "/api/person_search",
			data: {search: last_search_string},
			timeout: 5000
		})
		.done(function(data, textStatus, jqXHR) {
			//console.log(data.error);
			//console.log(data.data);
			//$('#test').text("success");
			if(data.error != null) {
				$('#test').text(data.error);
			}
			$('#search_result').empty();
            data.data.forEach( function(item, i, arr){
                var tr = $("<tr/>")
                tr.append($("<td>", {class:"datacell", text: item.ndoc}));
                tr.append($("<td>", {class:"datacell", append: $("<a>", {href:"/person?id="+item.id, text:item.fio }) }));
				$('#search_result').append(tr);
            } );
		})
		.fail(function(data, textStatus, jqXHR) {
			console.log(data);
			$('#test').text("fail");
		})
		;
	}
});
$('#search_string').keyup(function(event) {
	$('#search_string').change();
});
</script>

</body>
</html>
