<!DOCTYPE html>
<html>
<head>
{{template "common_resources"}}
<title>ОЛС - Обеспечение лекарственными средствами</title>

<script>

var farmlist = new Array();

function startload() {
    $('#loading').show();
}

function stopload() {
    $('#loading').hide();
}

function makerq(url, method, dataobj, callback) {
    startload();
    $.ajax({
        url: url,
        method: method,
        data: JSON.stringify(dataobj),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		callback(data);
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}
  
function list_reload() {
    startload();
    $.ajax({
        url: "/api/znvlp",
		method: "GET",
        timeout: 0
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
        if(data.error != null) {
            console.log(data.error);
        }
        $('#znvlp_list').empty();
        //console.log(data);
        data.data.forEach( function(item, i, arr){
            var tr = $("<tr>", {name: "row", id: item.id});
            var znvlp_name = $("<input>", {type:"text", name:"name", value: item.name, size: 50});
			var znvlp_save = $("<button>", {html: "Сохранить"});
			var znvlp_delete = $("<button>", {html: "Удалить"});
			znvlp_save.on("click", function() {
				makerq("/api/znvlp", "PUT", {id: item.id, name: znvlp_name.val()},
					   function(data){ list_reload(); }
					  );
			});
			znvlp_delete.on("click", function() {
				makerq("/api/znvlp", "DELETE", {id: item.id},
					   function(data){ list_reload(); }
					  );
			});
            var td = $("<td>", {class:"datacell", width: "0.1%", "white-space": "nowrap"});
			td.append(znvlp_name);
			td.append($("<br/>"));
			td.append(znvlp_save);
			td.append($("<br/>"));
			td.append(znvlp_delete);
			tr.append(td);
            var td = $("<td>", {class:"datacell", width: "0.1%", "white-space": "nowrap"});
			td.append($("<div>", {class: "subdiv", text: "Добавить цену:"}));
			var new_price_dt = $("<input>", {type:"date"});
			var new_price_value = $("<input>", {type:"number", step: 0.01});
			var new_price_save = $("<button>", {html: "Добавить"});
			new_price_save.on("click", function() {
				makerq("/api/znvlp_price", "POST", {id_znvlp: item.id, dt: new_price_dt.val(),
													price: safeFloat(new_price_value.val())},
					   function(data){ list_reload(); }
					  );
			});
			td.append(new_price_dt);
			td.append($("<br/>"));
			td.append(new_price_value);
			td.append($("<br/>"));
			td.append(new_price_save);
			tr.append(td);
			item.prices.forEach(function(pitem, pi, parr) {
				var td = $("<td>", {class:"datacell", width: "0.1%", "white-space": "nowrap"});
				var price_dt = $("<input>", {type:"date", value: pitem.dt});
				var price_value = $("<input>", {type:"number", step: 0.01, value: pitem.price});
				price_value.css({width: "5em"});
				var price_save = $("<button>", {html: "Сохранить"});
				var price_delete = $("<button>", {html: "Удалить"});
				price_save.on("click", function() {
					makerq("/api/znvlp_price", "PUT", {id: pitem.id, dt: price_dt.val(),
													   price: safeFloat(price_value.val())},
					   function(data){ list_reload(); }
						  );
				});
				price_delete.on("click", function() {
					makerq("/api/znvlp_price", "DELETE", {id: pitem.id},
						   function(data){ list_reload(); }
						  );
				});
				td.append(price_dt);
				td.append($("<br/>"));
				td.append(price_value);
				td.append($("<br/>"));
				td.append(price_save);
				td.append($("<br/>"));
				td.append(price_delete);
				tr.append(td);
			});
			var td = $("<td>", {class:"datacell"});
			tr.append(td);
            $('#znvlp_list').append(tr);
        } );
    })
	.fail(function(data, textStatus, jqXHR) {
		stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function add_znvlp() {
    startload();
    $.ajax({
        url: "/api/znvlp",
        method: "POST",
        data: JSON.stringify({name: $('#newname').val()}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

document.addEventListener("DOMContentLoaded", function(){
    list_reload();
});
  
</script>

</head>
<body>
{{template "common_header"}}
<div class="wrap">
<div class="container">
<button onclick="list_reload(); return false;">Загрузить список</button><img src="/static/loading.gif" id="loading" style="display: none;">
<br/>
Добавить новый элемент в ЖНВЛП:<br/>
<input type="text" size="50" id="newname"><button onclick="add_znvlp(); list_reload(); return false;">Добавить</button>
</div>
<div class="container">
<table class="datatable"> 
<tbody id="znvlp_list"></tbody>
</table>
</div>
</div>

</body>
</html>
