<!DOCTYPE html>
<html>
<head>
{{template "common_resources"}}
<title>ОЛС - Обеспечение лекарственными средствами</title>

<script>

var farmlist = new Array();

function startload() {
    $('#loading').show();
}

function stopload() {
    $('#loading').hide();
}

function list_reload() {
    startload();
    $.ajax({
        url: "/api/znvlp",
		method: "GET",
        timeout: 0
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
        if(data.error != null) {
            console.log(data.error);
        }
        $('#znvlp_list').empty();
        //console.log(data);
        data.data.forEach( function(item, i, arr){
            var tr = $("<tr>", {name: "row", id: item.id});
            var znvlp_name = $("<input>", {type:"text", name:"name", value: item.name, size: 100});
			var znvlp_save = $("<button>", {html: "Сохранить"});
			var znvlp_delete = $("<button>", {html: "Удалить"});
			znvlp_save.on("click", function() {
				save_znvlp(item.id, znvlp_name);
			});
			znvlp_delete.on("click", function() {
				delete_znvlp(item.id);
			});
            var td = $("<td>", {class:"datacell"})
			td.append(znvlp_name);
			td.append(znvlp_save);
			td.append(znvlp_delete);
			td.append($("<div>", {class: "subdiv", text: "Цены:"}));
			var div = $("<div>", {class: "subdiv"})
			var new_price_dt = $("<input>", {type:"date"});
			var new_price_value = $("<input>", {type:"number", step: 0.01});
			var new_price_save = $("<button>", {html: "Добавить"});
			new_price_save.on("click", function() {
				add_price(item.id, new_price_dt, new_price_value);
			});
			div.append(new_price_dt);
			div.append(new_price_value);
			div.append(new_price_save);
			td.append(div);
			item.prices.forEach(function(pitem, pi, parr) {
				var div = $("<div>", {class: "subdiv"})
				var price_dt = $("<input>", {type:"date", value: pitem.dt});
				var price_value = $("<input>", {type:"number", step: 0.01, value: pitem.price});
				var price_save = $("<button>", {html: "Сохранить"});
				var price_delete = $("<button>", {html: "Удалить"});
				price_save.on("click", function() {
					save_price(pitem.id, price_dt, price_value);
				});
				price_delete.on("click", function() {
					delete_price(pitem.id);
				});
				div.append(price_dt);
				div.append(price_value);
				div.append(price_save);
				div.append(price_delete);
				td.append(div);
			});
			tr.append(td);
            $('#znvlp_list').append(tr);
        } );
    })
	.fail(function(data, textStatus, jqXHR) {
		stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function add_znvlp() {
    startload();
    $.ajax({
        url: "/api/znvlp",
        method: "POST",
        data: JSON.stringify({name: $('#newname').val()}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function save_znvlp(idd, el_name) {
	  newname = el_name.val();
    startload();
    $.ajax({
        url: "/api/znvlp",
        method: "PUT",
        data: JSON.stringify({name: newname, id: idd}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function delete_znvlp(idd) {
    startload();
    $.ajax({
        url: "/api/znvlp",
        method: "DELETE",
        data: JSON.stringify({id: idd}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function add_price(id_znvlp, el_date, el_value) {
    startload();
    $.ajax({
        url: "/api/znvlp_price",
        method: "POST",
        data: JSON.stringify({id_znvlp: id_znvlp, dt: el_date.val(), price: safeFloat(el_value.val())}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function save_price(idd, el_date, el_value) {
    startload();
    $.ajax({
        url: "/api/znvlp_price",
        method: "PUT",
        data: JSON.stringify({id: idd, dt: el_date.val(), price: safeFloat(el_value.val())}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

function delete_price(idd) {
    startload();
    $.ajax({
        url: "/api/znvlp_price",
        method: "DELETE",
        data: JSON.stringify({id: idd}),
        timeout: 5000
    })
    .done(function(data, textStatus, jqXHR) {
        stopload();
		list_reload();
    })
    .fail(function(data, textStatus, jqXHR) {
        stopload();
        console.log(data);
        $('#test').text("fail");
    })
    ;
}

document.addEventListener("DOMContentLoaded", function(){
    list_reload();
});
  
</script>

</head>
<body>
{{template "common_header"}}
<div class="wrap">
<div class="container">
<button onclick="list_reload(); return false;">Загрузить список</button><img src="/static/loading.gif" id="loading" style="display: none;">
<br/>
Добавить новый элемент в ЖНВЛП:<br/>
<input type="text" size="100" id="newname"><button onclick="add_znvlp(); list_reload(); return false;">Добавить</button>
</div>
<div class="container">
<table class="datatable" width="100%"> 
<tbody id="znvlp_list"></tbody>
</table>
</div>
</div>

</body>
</html>
