html,
body {
    height: 100%;
}

table tr:nth-child(even) {
	background-color: #eeeeee;
}
table tr:nth-child(odd) {
	background-color: #dddddd;
}

.datatable {
	border: 3px solid gray;
	border-collapse:collapse;
}

.datacell {
	border: 1px solid black;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 10px 10px;
}